# Maven / Gradle build folders
/target/
/build/

# IDE files
/.idea/
/*.iml
/.project
/.classpath
/.settings/

# Eclipse
/.metadata/
/*.log
/bin/
/tmp/

# IntelliJ IDEA
*.iws
*.iml
*.ipr
/out/

# VS Code
.vscode/

# Mac OS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# Logs
*.log

# Spring Boot specific
*.class
*.jar
*.war
*.ear

# Others
*.swp
*~

